{% extends "base.html" %}

{% block body %}
{% load markup_tags %}
<h3>{{ skill }}</h3>
    <p>{{ skill.description | apply_markup:"markdown" }}</p>
	{% if resources %}
	<table class="table">
		<tr>
			<th>Votes</th>
			<th>Resource</th>
			<th>Link</th>
		</tr>
    {% for o in comp %}
		<tr>
			<td>
				{% if o.vote %}
                    {% if o.vote.vote == 1 %}
					<a href="/resources/{{o.resource.url}}/vote?skill={{skill.id}}&amp;v=none" style="text-decoration: none; color: orange">&#x25B2;</a>
					{% else %}
				<a href="/resources/{{o.resource.url}}/vote?skill={{skill.id}}&amp;v=up" style="text-decoration: none; color: inherit">&#x25B2;</a>
					{% endif %}
				{% else %}
				<a href="/resources/{{o.resource.url}}/vote?skill={{skill.id}}&amp;v=up" style="text-decoration: none; color: inherit">&#x25B2;</a>
				{% endif %}
                {% if o.resource.score %}
                    {{ o.resource.score }}
                {% else %}
                    0
                {% endif %}
				{% if o.vote %}
					{% if o.vote.vote == -1 %}
				<a href="/resources/{{o.resource.url}}/vote?skill={{skill.id}}&amp;v=none" style="text-decoration: none; color: blue">&#x25BC;</a>
					{% else %}
				<a href="/resources/{{o.resource.url}}/vote?skill={{skill.id}}&amp;v=down" style="text-decoration: none; color: inherit">&#x25BC;</a>
					{% endif %}
				{% else %}
				<a href="/resources/{{o.resource.url}}/vote?skill={{skill.id}}&amp;v=down" style="text-decoration: none; color: inherit">&#x25BC;</a>
				{% endif %}
			</td>
            <td>
                <a href="/resources/{{ o.resource.id }}">{{ o.resource.name }}</a>
            </td>
            <td>
                <a href="{{ o.resource.link }}">{{ o.resource.stripped_link|truncatechars:55 }}</a>
            </td>
		</tr>
    {% endfor %}
    </table>
    {% endif %}

<p style="font-size: 70%">
    Added by: <a href="/users/{{skill.user.url}}/">{{ skill.user.username}}</a> on {{ skill.creation_date }}
    {% if not skill.creation_date == skill.update_date %}
    updated on {{ skill.update_date }}
    {% endif %}
</p>

{% if user.is_authenticated %}
<span>
    <a style="padding-right:6px; border-right: 1px solid #717171;" href="/skills/{{skill.url}}/delete">Delete Skill</a>
    <a href="/skills/{{skill.url}}/edit">Edit Skill</a>
</span>
{% endif %}

{% endblock %}

{% block links %}
    <li><a href="/skills/create">Add Skill</a></li>
    <li><a href="/resources/create?skill={{skill}}">Add Resource to {{skill}}</a></li>
{% endblock %}
