{% extends "base.html" %}

{% block body %}
<h3>{{ view_user }}</h3>
<h3>Points: {{ view_user.score }}</h3>
    {% if resources %}
    <h4>Resources Added</h4>
		{% for i in resources %}
		<div>
			+{{ score_const.create_resource_score }} <a href="/resources/{{ i.url }}">{{ i }}</a>
			<div style="margin-left:20px">{{ i.score }} from votes</div>
		</div>
		{% endfor %}
    {% else %}
    <h4>No skills added by user</h4>
    {% endif %}
    {% if skills %}
    <h4>Skills Added</h4>
		{% for i in skills %}
		<p>+{{ score_const.create_skill_score }} <a href="/skills/{{ i.url }}">{{ i }}</a></p>
		{% endfor %}
    {% else %}
    <h4>No skills added by user</h4>
    {% endif %}
{% endblock %}
{% block links %}
    <li><a href="/skills/create">Add Skill</a></li>
    <li><a href="/resources/create">Add Resource</a></li>
{% endblock %}
